<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="aprendendo" href="/css/parendendo.css">
</head>
<body>
    <header><h1>Pagina de aprendizado em desenvolvimento web</h1></header>
    <div><p>O desenvolvimento client-side ou Front-end é baseado em 3 camadas<br>
        principais: informação, formatação e comportamento.</p><br>

    <h2>Camadas web</h2>
    <ol title="Camadas de programação web">
        <li>camada de informação</li>
        <p>É a mais importante ou seja, ela vem antes de todas as outras e<br>
            fica sob o controle do HTML. O HTML marca a informação<br>
            dando-lhe significado. No caso seria as tags e o que vem escrito<br>
            junto da tag no caso o texto a informação.</p>
        
        <li>Camada de Formatação</li>
        <p>A segunda camada é responsável por controlar o visual da<br>
            informação exibida pelo HTML. (CSS) o que chama a sua atenção.</p>

        <li>Comportamento</li>
        <p>Nessa terceira camada onde decidirá quais serão os comportamentos dos<br>
            elementos e o Javascript até hoje é o principal responsável por essa
            camada.</p>
    </ol><br>

    <h2>informações sobre o conteudo</h2>
    <ol>
        <li>Mas o que quer dizer semântica e qual a importância dela?</li>
        <p>Quando criamos uma página, precisamos marcar o que cada elemento<br>
            dentro dela representa e qual é o papel de cada uma das estruturas ali<br>
            presentes (tag).</p>
    </ol>

    <h2>Tags e semanticas em HTML5</h2>
    <ol>
        <li>HEADER</li>
        <p> ● Define um cabeçalho para o documento, seção ou artigo.<br>
            ● Pode conter logo, títulos, menu de navegação, campo de
            busca, etc.</p>

        <li>NAV</li>
        <P>Define um grupo de links de navegação. Essa tag é muito utilizada nos<br>
            menus utilizados para se navegar entre as páginas de um site. Pode estar em<br>
            diferentes partes do layout, como no cabeçalho ou no rodapé.</P>

        <li>ASIDE</li>
        <p>Define um conteúdo que faz referência ao conteúdo principal à sua volta. Muito utilizado<br>
            em colunas ao lado da parte principal dos sites, onde normalmente possui a navegação,<br>
            propagandas ou algo relacionado com o conteúdo principal.</p>
    </ol>

    <h3>Uso do nav na pratica</h3>
    <nav>
        <ul class="menu">
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="/index.html">pagina principal</a></li>
        </ul>
    </nav>

    <aside>
        <h2>Uso do aside na prática</h2>
        <p>Este é um exemplo de conteúdo que pode ser incluído em uma tag <code>&lt;aside&gt;</code>. Ele é relevante para o tópico principal, mas não é parte do fluxo principal do artigo.</p>
        <p>Pode incluir links para artigos relacionados, uma biografia do autor, links para recursos externos ou até mesmo anúncios.</p>
    </aside>

    <footer>
        <nav>
            <ul>
                <li><a href="/view/inicio.html">Pagina de cabeçalho</a></li>
            </ul>
        </nav>
        <small>Copyright 2024 - todos os direitos autorais em nome Luiz Gabriel </small>
    </footer>

    <h2>Article</h2>
    <p>Define um artigo. Muito utilizado em posts de blogs e sites de notícias</p>
    <article>
        <h1>Google revela a nova inteligencia artificial</h1>
        <p>Hoje o google lança o gemini</p>
    </article>

    <h3>ABBR</h3>
    <p>Define uma abreviatura ou sigla. Pode ajudar buscadores e tradutores a<br>
        entenderem que o texto não se trata de uma palavra completa.</p>
    <abbr title="União Nacional dos estudantes">UNE</abbr>

    <h3>ADDRESS</h3>
    <p>Define informações de contato</p>
    <address>Rua da misericórida, N.36, Casa primeiro andar</address>

    <h3>Udo do details e summary</h3>
    <details>
        <summary>Lista de cursos</summary>
        <ul>
            <li>HTML5</li>
            <li>css3</li>
            <li>JavaScript</li>
        </ul>
    </details>

    <h3>DFN</h3>
    <p>Marca a definição de um termo. Espera-se que conteúdo mais próximo contenha a<br>
        definição do termo que estiver dentro dessa tag.</p>

    <dfn>HTML</dfn>
    <p>Texto para definir que o html esta dentro da camada de informação</p>

    <h3>TIME</h3>
    <p>Define data e hora</p>
    <time datetime="2024-06-10"></time>

    <h3>FIGURE</h3>
    <figure>
        <img src="/img/github.png" alt="Imagem">
        <figcaption class="figurecaption">Figura do github</figcaption>
    </figure>

    <audio controls>
        <source src="/audio/SLIDE DO IPPO - DJ FR3ST (Official Audio).mp3" type="audio/mp3">
    </audio>

    <video width="400" height="300" controls>
        <source src="/video/GTA 6_ Trailer Dublado em Português BR.mp4" type="video/mp4">
    </video>


    </div>
</body>
</html>