<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>O que seria um web designer?</h1>

<p>Um web designer é um profissional responsável pela criação e desenvolvimento do layout,<br>
 design visual e estrutura de um sítio Web. O trabalho de um web designer envolve a combinação de <br>
 habilidades de design gráfico e conhecimento técnico para criar sítios Web que sejam esteticamente agradáveis,<br>
  funcionais e fáceis de usar.</p>


  <h3>Qual o papel do web designer?</h3>
  <ul>
    <li>Criador - concepção e o desenvolvimento de
        páginas Web;</li>
    <li>Auditor - colabora no levantamento de requisitos
        no desenvolvimento do software Web;</li>
    <li>Consultor - participa na avaliação e fiscalização da
        qualidade do sítio Web;</li>
  </ul>

  <p>Mais especificamente, a função de um Web Designer passa por definir a estrutura (arrumação dos<br>
    conteúdos e a navegabilidade), o aspecto visual e a usabilidade de um sítio Web, ou seja, produzir um<br>
    modelo atrativo para o utilizador, que tenha lógica de navegação e que tenha a informação visível
    realmente necessária.</p>

    <h3>o Web Designer deve seguir algumas etapas
        das quais se destacam:</h3>
    <ul>
        <Li>levantamento dos requisitos;</Li>
        <li>Desenho do modelo</li>
        <li>Implementação</li>
    </ul>

    <h3>O que é tipografia?</h3>
    <p>Tipografia é conjunto de procedimentos artísticos e técnicos que abrangem as diversas etapas da<br>
        produção gráfica (desde a criação dos caracteres
        até a impressão e acabamento)</p>
</body>
</html>